<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>Morning</td>
        <td>Introduction to R and Rstudio</td>
      </tr>
      <tr>
        <td></td>
        <td>Data Structures</td>
      </tr>
      <tr>
        <td></td>
        <td>Exploring Data Frames</td>
      </tr>
      <tr>
        <td></td>
        <td>Introduction to Visualization</td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td>Open and Plot Shapefiles</td>
      </tr>
      <tr>
        <td></td>
        <td>Explore and Plot by Vector Layer Attributes</td>
      </tr>
      <tr>
        <td></td>
        <td>Plot Multiple Shapefiles</td>
      </tr>
      <tr>
        <td></td>
        <td>Handling Spatial Projection & CRS</td>
      </tr>
      <tr>
        <td>Evening</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> 
	<td>Morning</td> 
	<td>Intro to Raster Data</td>
      </tr>
      <tr> 
	<td></td> 
	<td>Plot Raster Data</td>
      </tr>
      <tr> 
	<td></td> 
	<td>Reproject Raster Data</td>
      </tr>
      <tr> 
	<td></td> 
	<td>Raster Calculations</td>
      </tr>
      <tr> 
	<td></td> 
	<td>Work With Multi-Band Rasters</td>
      </tr>
      <tr> 
	<td>Afternoon</td>
	<td>Import and Visualise OSM data</td>
      </tr>
      <tr> 
	<td></td> 
	<td>Basic GIS operations with the `sf` package</td>
      </tr>
      <tr>
	      <td>Evening</td>
	      <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	      <td></td>
	      <td>Drinks & Snacks</td>
      </tr>
    </table>
  </div>
</div>
